.modal {
    position: absolute;

    @include mobil() {
        width: 290px;
    }

    @include desktop() {
        width: 450px;
    }
    
    height: 400px;
    background-color: white;
    border: solid 1px black;
    color: black;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    &__shipping, &__products {
        li {
            list-style: none;
        }
    }
}

.capa {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 2;
    top: 0;
    left: 0;    
    opacity: 0.5;
}

.contenido-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}